*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: linear-gradient(#380036, #0CBABA); */
}

.Main-Container{
    border: 2px solid black;
    height: 700px;
    width: 950px;
    background-color: #D2D3D5;
    
}
.Container{
    border:  2px solid rgb(183, 17, 17);
    width: 900px;
    height: 600px;
    display: flex;
    margin: 20px;
    background-color: #32396f;
}
.leftside{
    border: 1px solid pink;
    width: 450px;
    height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FAFDFB;
    
    
   
}
.leftside h1{
    margin-left: 60px;
}
.rightside{
    border:  1px solid rgb(20, 20, 19);
    padding-left: 20px;
    width: 450px;
    height: 600px;
    background-color: #FBBA18;
    
}
.top-section{
    display:  flex;
    align-items: first baseline;
    
}
.brand{
    margin-right: auto;
    color: #312A7A;
    
    
}
.haveaccount{
    flex: 2px;
    color:  red;
    float: right;
    text-decoration: none;
    float: right;
    padding-right: 4px;
   
}
.details{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    
    box-shadow: 0 11px 10px rgb(158, 16, 16);
    color: #312A7A;

}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    color: #312A7A;
    background-color: #FBBA18;
}
.inputbox{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.inputbox:nth-child(2n){
    justify-content: end;
}
.inputbox label, .gender-title{
    width: 96%;
    color: aliceblue;
    font-weight: bold;
    margin: 5px 0;
}
.gender-title{
    font-size: 16px;
}
.inputbox input{
    height: 25px;
    width: 95%;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid rgb(16, 16, 16);
    outline: none;
}
.inputbox input input:is(:focus,:valid){
    box-shadow: 0 3px 6px;
}
.gender-category label{
    padding: 0 20px 0 5px;
    font-size: 14px;
}
.gender-category{
    color: rgb(16, 11, 6);

}
.gender-category label, .gender-category input{
    cursor: pointer;
}
.alert p{
    font-size: 14px;
    font-style: italic;
    color: rgb(105, 105, 116);
    margin: 5px 0;
    padding: 10px;

}
.alert a{
    font-weight: bold;
    text-decoration: none;
    color: brown;

}
.alert a:hover{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}
.footer-container{
    margin: 15px 0;

}
.footer-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: bisque;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#aaa,#678);
    cursor: pointer;
    transition: 0.3s;
}
.footer-container button:hover{
    background-image: linear-gradient(to right #610456, #aa07aa);
}